<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav"
     (click)="drawer.toggle()"
      [ngClass]="{hidden: !(isHandset$ | async)}"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Save Your Passcode</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/home']">Home</a>
      <a mat-list-item [routerLink]="['/safe']" *ngIf="isLogin">Safe</a>
      <a mat-list-item [routerLink]="isLogin ? ['/profile'] : ['/login']">{{isLogin?"Profile":"Login"}}</a> 
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="dark">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <i class="bi bi-safe2-fill" style="font-weight:900; font-size:2rem; margin-inline: 10px;"></i>
      <span class="display-5">Code Safe</span>
      <span class="space" style="flex:1 1 auto"></span>
      <div class="container p-1" style="width:15rem; display:flex; text-align: end;" *ngIf="!(isHandset$ | async)">
        <a mat-list-item [routerLink]="['/home']">Home</a>
        <a mat-list-item [routerLink]="['/safe']" *ngIf="isLogin">Safe</a>
        <a mat-list-item [routerLink]="isLogin ? ['/profile'] : ['/login']">{{isLogin?"Profile":"Login"}}</a>
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
