<mat-card style="padding: 10px; margin: 13px; width: 28rem;">
    <mat-card-header>
        <div class="mat-card-avatar"></div>
        <mat-card-title style="font-size: 2rem;">{{this.currentUser.username}}</mat-card-title>
    </mat-card-header>
    <mat-card-content style="margin: 10px;">
        <div style="font-size: larger; font-weight: bolder;">Email</div><span>{{this.currentUser.email}}</span>
        <div style="font-size: larger; font-weight: bolder;">Company</div><span>{{this.currentUser.company}}</span>
    </mat-card-content>
    <mat-card-actions>
        <button class="btn btn-danger" (click)="onLogout()">Logout</button>
    </mat-card-actions>
</mat-card>
